{% extends 'base.html.twig' %}

{% block title %}Liste de mes réservations{% endblock %}

{% block body %}
    <h1>Liste de mes réservations</h1>
    {% if bookings is not empty %}
        <ul>
            {% for booking in bookings %}
                <li>{{ booking.property }}</li>
                {# Affichez d'autres détails de réservation selon votre modèle de données #}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune réservation trouvée.</p>
    {% endif %}
{% endblock %}
