<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">

								<div class="col-md-offset-1 col-md-2 col-sm-12">

									<div class="single-model-search">
										<h2>select year</h2>
										<div class="model-select-icon">
											<input type="date" id="date" name="date" class="form-control">
										</div>
									</div>

									<div class="single-model-search">
										<h2>Logiciels :</h2>
										<div class="model-select-icon">
											<select class="form-control">
                                                <option value="default">logiciels 1</option><!-- /.option-->
											</select>
                                        </div>
									</div>
								</div>


								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										<h2>select price</h2>
										<div class="model-select-icon">
											<select class="form-control">
											  	<option value="default">price</option>
											</select>
										</div>
									</div>

								</div>


								<div class="col-md-offset-1 col-md-2 col-sm-12">
									<div class="single-model-search">
										
                                        <h2>Option</h2>
										<div class="model-select-icon">
											<select class="form-control">

											  	<div>
                                                    <input class="form-check-input" type="checkbox" id="daylight" name="daylight">
                                                    <label class="form-check-label" for="daylight">Lumière naturelle</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="artificiallight" name="artificiallight">
                                                    <label class="form-check-label" for="artificiallight">Lumière artificielle</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="videoprojector" name="videoprojector">
                                                    <label class="form-check-label" for="videoprojector">Vidéoprojecteur</label>
                                                </div>

                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="pmr" name="pmr">
                                                    <label class="form-check-label" for="pmr">Accès PMR</label>
                                                </div>

											</select>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-12">
									<div class="single-model-search text-center">
										<button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
											search
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>