{% extends 'base.html.twig' %}

{% block title %}Classrooms - My School{% endblock %}

{% block body %}
    <div class="p-5 mb-4 border-bottom border-2">
        <h1 class="">Classrooms</h1>
    </div>

    <div class="container">
        <div class="row">
            {% for classroom in classrooms %}
                {{ include('components/classroom_card.html.twig', {'classroom': classroom}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
