<section id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>get your desired classrooms in reasonable price</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
			</p>
			{% if not app.user %}
				<button class="welcome-btn" onclick="window.location.href='/login'">
					Classrooms
				</button>
			{% endif %}
		</div>
		{% if app.user %}
			{% include 'classrooms/filtrage.html.twig' %}
		{% endif %}
	</div>
</section>

{% include 'other/service.html.twig' %}
{% include 'other/client.html.twig' %}
