<section id="home" class="welcome-hero">
    <div class="top-area">
        <div class="header-area">
            <div class="clearfix"></div>
        </div><!--/.header-area-->

    </div><!-- /.top-area-->

    <div class="container">
        <div class="welcome-hero-txt">
            <h2>get your desired classrooms in reasonable price</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
            </p>
        </div>
    </div>

    

</section>

			{% include 'other/service.html.twig' %}
			{% include 'other/new.html.twig' %}
			{% include 'other/client.html.twig' %}

	
