
        <section id="home" class="welcome-hero">

            <div class="container">
                <div class="welcome-hero-txt">
                    <h2>get your desired classrooms in reasonable price</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
                    </p>
                    <button class="welcome-btn" onclick="window.location.href='/login'">
                        Login<a class="dropdown-item" href={{ path('app_login') }}>
                    </button>
                </div>
            </div>
        </section>

			{% include 'other/service.html.twig' %}
			{% include 'other/client.html.twig' %}



	
